@import "styles/default.scss";

.panel{
  display: block;

  & .ant-card-head-wrapper{
    display: flex;
    flex-direction: row;
  }

  & .ant-card-head{
    background: $panel-header;
  }

  & .ant-card-extra{
    align-items: center;
    padding: 0;
  }

  & .ant-card-head-title{
    font-size: 18px;
    padding: 18px 0;
    color: inherit;
  }
}
