.action-buttons-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .action-buttons-container > button {
    height: 100%;
    margin: 0 8px; }

.action-button {
  height: 40px;
  background-color: #369ddc;
  border: 1px solid #2a83bf;
  color: #ffffff; }
  .action-button:hover, .action-button:focus {
    color: #ffffff;
    background: #2a83bf; }

.panel {
  display: block; }
  .panel .ant-card-head-wrapper {
    display: flex;
    flex-direction: row; }
  .panel .ant-card-head {
    background: #f6f7f8; }
  .panel .ant-card-extra {
    align-items: center;
    padding: 0; }
  .panel .ant-card-head-title {
    font-size: 18px;
    padding: 18px 0;
    color: inherit; }
